{{ define "mailbox-link" }}
    {{ $name := .Info.Name }}
    {{- if eq $name "INBOX" -}}
        {{ $name = "Inbox" }}
    {{- end -}}

    {{ $icon := "" }}
    {{- if eq $name "Inbox" -}}
        {{ $icon = "fa-inbox" }}
    {{- else if eq $name "Drafts" -}}
        {{ $icon = "fa-note-sticky" }}
    {{- else if eq $name "Sent" -}}
        {{ $icon = "fa-paper-plane" }}
    {{- else if eq $name "Junk" -}}
        {{ $icon = "fa-spaghetti-monster-flying" }}
    {{- else if eq $name "Trash" -}}
        {{ $icon = "fa-trash" }}
    {{- else if eq $name "Archive" -}}
        {{ $icon = "fa-box-archive" }}
    {{- else -}}
        {{ $icon = "fa-folder" }}
    {{- end -}}

    {{ $unreadCount := 0 }}
    {{ if .Status }}
        {{ if .Status.Unseen }}
            {{ $unreadCount = .Status.Unseen }}
        {{ end }}
    {{ end }}
    <div class="mailbox-entry"
        data-name="{{ $name }}"
        data-unread="{{ $unreadCount }}">
        <div class="self {{ if .Info.Active }}active{{ end }}">
            {{ if ne $name "" }}
                <i class="icon fas {{ $icon }}"></i>
            {{ end }}
            <span class="name">
                {{ $name }}{{- if .Info.HasAttr "\\HasChildren" }}/{{ end }}
            </span>
            <span class="unread-count">{{ if and (ne $unreadCount 0) (eq $name "Inbox") }}{{ $unreadCount }}{{ end }}</span>
        </div>
        <div class="children hidden"></div>
    </div>
{{ end }}

{{ $pageQuery := index .GlobalData.URL.Query "page" }}
{{ if ne (len $pageQuery) 1 }}
<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head-content.html" }}
    <title>{{ .GlobalData.Username }}</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/themes/sane/res/favicon-128.png">
            <h1>Alps Mail</h1>
        </div>
        <div class="left">
            <a class="nav-item active" href="#" data-page="mailbox">Mail</a>
        </div>
        <div class="right">
            <span class="email-address">{{ .GlobalData.Username }}</span>
            <a class="nav-item" href="#" data-page="settings">Settings</a>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <main id="settings" class="settings">
        {{ template "settings.html" }}
    </main>
    <main id="mailbox" class="mailbox active">
        {{ $mailboxName := .Mailbox.Name }}
        {{- if eq $mailboxName "INBOX" -}}
            {{ $mailboxName = "Inbox" }}
        {{- end -}}
        <aside id="mailboxes" class="mailboxes" data-selected="{{ $mailboxName }}">
            <button id="compose-button" class="compose-button">Compose</button>
            <span class="mailbox-label">{{ .GlobalData.Username }}</span>
            {{ with .CategorizedMailboxes }}
            <div id="standard-mailboxes" class="standard-mailboxes">
                {{ with .Common.Inbox }}{{ template "mailbox-link" . }}{{ end }}
                {{ with .Common.Drafts }}{{ template "mailbox-link" . }}{{ end }}
                {{ with .Common.Sent }}{{ template "mailbox-link" . }}{{ end }}
                {{ with .Common.Junk }}{{ template "mailbox-link" . }}{{ end }}
                {{ with .Common.Trash }}{{ template "mailbox-link" . }}{{ end }}
                {{ with .Common.Archive }}{{ template "mailbox-link" . }}{{ end }}
            </div>
            <div>
                <hr>
                <div class="additional-mailboxes">
                    {{ if .Additional }}
                        {{ range .Additional }}
                            {{ template "mailbox-link" . }}
                        {{ end }}
                    {{ end }}
                </div>
                <div id="create-folder" class="mailbox-action">Create folder</div>
            </div>
            {{ end }}
        </aside>
        <section class="middle">
            <div class="actions">
                <span class="action seen fas fa-envelope" disabled></span>
                <span class="action delete fas fa-trash" disabled></span>
                <span class="action move fas fa-folder" disabled></span>
            </div>
            <div id="mail-list" class="mail-list"></div>
        </section>
        <div class="preview">
            <section id="mail-display" class="mail-display">
            </section>
            <section id="compose-pane" class="pane compose-pane hidden">
                <div class="pane-header">
                    <span class="title">Write an Email</span>
                    <div class="buttons">
                        <span class="minimise fas fa-window-minimize"></span>
                        <span class="close fas fa-xmark"></span>
                    </div>
                </div>
                <div class="pane-content">
                    <div class="upper-area">
                        <div class="input-grid">
                            <span class="input-label">To</span>
                            <div class="input-to multi-input">
                                <input type="email" placeholder="john@smith.com" />
                            </div>
                            <span class="input-label">From</span>
                            <input type="text" class="input-from no-clear" placeholder="your@email.com"
                                value="{{ .GlobalData.Username }}" data-default="{{ .GlobalData.Username }}" />
                            <span class="input-label">Cc</span>
                            <div class="input-cc multi-input">
                                <input type="email" placeholder="sven@svensson.se" disabled />
                            </div>
                        </div>
                        <div class="attachment-area file-drop">
                            <h3>Attachments</h3>
                            <button class="primary">Browse</button>
                            <div class="attachment-list list"></div>
                        </div>
                    </div>
                    <input type="text" class="input-subject" placeholder="Subject..." />
                    <trix-editor class="input-message textarea"></trix-editor>
                    <span class="error hidden">An error occurred.</span>
                    <div class="buttons">
                        <button class="as-draft">Save as Draft</button>
                        <button class="primary send">Send</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="/themes/sane/out/out.js"></script>
</body>

</html>
{{ else }}
{{ range .Messages }}
    {{ $classes := "item" }}
    {{ if not (.HasFlag "\\Seen") }}
        {{ $classes = printf "%s %s" $classes "unread" }}
    {{ end }}
    {{ if (.HasFlag "\\Deleted") }}
        {{ $classes = printf "%s %s" $classes "deleted" }}
    {{ end }}

    {{ $selectedPart := -1 }}
    {{ $selectedPartMime := "text/plain" }}
    {{ if eq .BodyStructure.MIMEType "multipart" }}
        {{ range $i, $part := .BodyStructure.Parts }}
        {{ $mime := print $part.MIMEType "/" $part.MIMESubType }}
        {{ if or (eq $mime "text/html") (eq $mime "multipart/alternative") }}
            {{ $selectedPart = $i }}
            {{ $selectedPartMime = $mime }}
        {{ end }}
    {{ end }}
{{ end }}

<div class="item mail-entry {{ $classes }}"
     data-uid="{{ .Uid }}"
     {{ if ne $selectedPart -1 }}data-part="{{ $selectedPart }}" {{ end }}>
    {{ if .HasFlag "\\Answered" }}<span class="replied">↩</span>{{ end }}
    {{ if .HasFlag "$Forwarded" }}<span class="forwarded">↪</span>{{ end }}

    <span class="sender">
        {{ range .Envelope.From }}
            {{ if .PersonalName }}
                {{ .PersonalName }}
            {{ else }}
                {{ .MailboxName }}@{{ .HostName }}
            {{ end }}
        {{ end }}
    </span>
    <span class="time">
        {{ .Envelope.Date | humantime }}
    </span>
    <span class="subject">
        {{ if .Envelope.Subject }}
            {{ .Envelope.Subject }}
        {{ else }}
            No subject
        {{ end }}
    </span>
</div>
{{ end }}
{{ end }}