{{ define "mailbox-link" }}
    {{ if not (.Info.HasAttr "\\Noselect") }}
        {{ $name := .Info.Name }}
        {{- if eq $name "INBOX" -}}
            {{ $name = "Inbox" }}
        {{- end -}}
        <div class="mailbox-entry" data-name="{{ $name }}">
            {{ $name }}{{- if .Info.HasAttr "\\HasChildren" }}/{{ end }}
            {{ if .Status }}
                {{ if .Status.Unseen }}
                    <span class="unseen">({{ .Status.Unseen }})</span>
                {{ end }}
            {{ end }}
        </div>
    {{ else }}
        <div class="noselect">
            {{ .Info.Name }}{{- if .Info.HasAttr "\\HasChildren" }}/{{ end }}
        </div>
    {{ end }}
{{ end }}

{{ $pageQuery := index .GlobalData.URL.Query "page" }}
{{ if ne (len $pageQuery) 1 }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <title>{{ .GlobalData.Title }}</title>
    <link rel="stylesheet" href="/themes/sane/out/main.css">
    <link rel="icon" type="image/png" href="/themes/alps/assets/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/themes/alps/assets/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/themes/alps/assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/themes/alps/assets/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/themes/alps/assets/favicon-128.png" sizes="128x128" />
</head>

<body>
    <header>
        <h1>Header placeholder</h1>
    </header>
    <main>
        {{ $mailboxName := .Mailbox.Name }}
        {{- if eq $mailboxName "INBOX" -}}
            {{ $mailboxName = "Inbox" }}
        {{- end -}}
        <aside id="mailboxes" class="mailboxes" data-selected="{{ $mailboxName }}">
            <button id="compose-button" class="compose-button">Compose</button>
            <span class="mailbox-label">{{ .GlobalData.Username }}</span>
            {{ with .CategorizedMailboxes }}
                <div id="standard-mailboxes" class="standard-mailboxes">
                    {{ with .Common.Inbox }}{{ template "mailbox-link" . }}{{ end }}
                    {{ with .Common.Drafts }}{{ template "mailbox-link" . }}{{ end }}
                    {{ with .Common.Sent }}{{ template "mailbox-link" . }}{{ end }}
                    {{ with .Common.Junk }}{{ template "mailbox-link" . }}{{ end }}
                    {{ with .Common.Trash }}{{ template "mailbox-link" . }}{{ end }}
                    {{ with .Common.Archive }}{{ template "mailbox-link" . }}{{ end }}
                </div>
                <div>
                    <hr>
                    <div class="additional-mailboxes">
                        {{ if .Additional }}
                            {{ range .Additional }}
                                {{ template "mailbox-link" . }}
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="mailbox-entry action">Create folder</div>
                </div>
            {{ end }}
        </aside>
        <section id="mail-list" class="mail-list">
        </section>
        <div class="preview">
            <section id="mail-display" class="mail-display">
            </section>
            <section id="compose-pane" class="pane compose-pane">
                <div class="pane-header">
                    <span class="title">Write an Email</span>
                    <div class="buttons">
                        <span class="minimise">⎽</span>
                        <span class="close">×</span>
                    </div>
                </div>
                <div class="pane-content">
                    <div class="upper-area">
                        <div class="input-grid">
                            <span class="input-label">To</span>
                            <div class="input-to multi-input">
                                <input type="email" placeholder="john@smith.com" />
                            </div>
                            <span class="input-label">From</span>
                            <input type="text" class="input-from no-clear" placeholder="your@email.com" value="{{ .GlobalData.Username }}" />
                            <span class="input-label">Cc</span>
                            <div class="input-cc multi-input">
                                <input type="email" placeholder="sven@svensson.se" disabled />
                            </div>
                        </div>
                        <div class="attachment-area file-drop">
                            <h3>Attachments</h3>
                            <button class="primary">Browse</button>
                            <div class="attachment-list list"></div>
                        </div>
                    </div>
                    <input type="text" class="input-subject" placeholder="Subject..." />
                    <trix-editor class="input-message textarea"></trix-editor>
                    <span class="error hidden">An error occurred.</span>
                    <div class="buttons">
                        <button class="as-draft">Save as Draft</button>
                        <button class="primary send">Send</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script src="/themes/sane/out/out.js"></script>
</body>

</html>
{{ else }}
    {{ range .Messages }}
        {{ $classes := "item" }}
        {{ if not (.HasFlag "\\Seen") }}
            {{ $classes = printf "%s %s" $classes "unread" }}
        {{ end }}
        {{ if (.HasFlag "\\Deleted") }}
            {{ $classes = printf "%s %s" $classes "deleted" }}
        {{ end }}

        {{ $selectedPart := 0 }}
        {{ $selectedPartMime := "text/plain" }}
        {{ if eq .BodyStructure.MIMEType "multipart" }}
            {{ range $i, $part := .BodyStructure.Parts }}
                {{ $mime := print $part.MIMEType "/" $part.MIMESubType }}
                {{ if eq $mime "text/html" }}
                    {{ $selectedPart = $i }}
                    {{ $selectedPartMime = $mime }}
                {{ end }}
            {{ end }}
        {{ end }}

        <div class="item {{ $classes }}"
                data-uid="{{ .Uid }}"
                {{ if ne $selectedPart 0 }}data-part="{{ $selectedPart }}"{{ end }}>
            {{ if .HasFlag "\\Answered" }}<span class="replied">↩</span>{{ end }}
            {{ if .HasFlag "$Forwarded" }}<span class="forwarded">↪</span>{{ end }}

            <span class="sender">
                {{ range .Envelope.From }}
                    {{ if .PersonalName }}
                        {{ .PersonalName }}
                    {{ else }}
                        {{ .MailboxName }}@{{ .HostName }}
                    {{ end }}
                {{ end }}
            </span>
            <span class="time">
                {{ .Envelope.Date | humantime }}
            </span>
            <span class="subject">
                {{ if .Envelope.Subject }}
                    {{ .Envelope.Subject }}
                {{ else }}
                    No subject
                {{ end }}
            </span>
        </div>
    {{ end }}
{{ end }}