{{ define "addr-list" }}
  {{ range $i, $addr := . }}
    {{ if $i }},{{ end }}
    {{ .PersonalName }}
    &lt;<a href="mailto:{{ .Address }}">{{ .Address }}</a>&gt;
  {{ end }}
{{ end }}

<div id="mail"
     class="mail"
     data-uid="{{ .Message.Uid }}"
     data-mailbox="{{ .Message.Mailbox }}"
     data-text-part="{{ .Message.TextPart.PathString }}">
    <section class="mail-header">
        <div class="top">
            <h1>
                {{ if .Message.Envelope.Subject }}
                    {{ .Message.Envelope.Subject }}
                {{ else }}
                    No subject
                {{ end }}
            </h1>
            <div class="time">
                <span>{{ .Message.Envelope.Date | formatdate }}</span>
            </div>
        </div>

        <div class="from">
            {{ template "addr-list" .Message.Envelope.From }}
        </div>
        <div class="to">
            <span clsas="label">To:</span>
            <span>{{ template "addr-list" .Message.Envelope.To }}</span>
        </div>
        <div id="mail-actions" class="actions">
            <span class="action reply"><i class="fas fa-reply"></i>Reply</span>
            <span class="action forward"><i class="fas fa-share"></i>Forward</span>
            <span class="action delete"><i class="fas fa-trash"></i>Delete</span>
            <span class="action move"><i class="fas fa-folder"></i>Move</span>
        </div>

        {{ if .Message.Envelope.Cc }}
            <div class="cc">
                <span clsas="label">Cc:</span>
                <span>{{ template "addr-list" .Message.Envelope.Cc }}</span>
            </div>
        {{ end }}
        {{ if .Message.Envelope.Bcc }}
            <div class="bcc">
                <span clsas="label">Bcc:</span>
                <span>{{ template "addr-list" .Message.Envelope.Bcc }}</span>
            </div>
        {{ end }}
    </section>

    <section class="mail-body">
        <div class="remote-content" style="display: none">
            <span>This message contains remote content, such as external images.</span>
            <a class="remote-content-button" href="#">Load remote content</a>
        </div>
        {{ $attachments := .Message.Attachments }}
        {{ if $attachments }}
            <section class="attachments">
                {{ range .Message.Attachments }}
                    <a class="attachment-button"
                       {{ if .IsText }}href="{{ $.Message.URL }}?part={{ .PathString }}"
                       {{ else }}href="{{ $.Message.URL }}/raw?part={{ .PathString }}"{{end}}
                       data-mime="{{ .MIMEType }}">
                        <div class="attachment-inner">
                            <span class="attachment-name">
                                {{- if .Filename -}}
                                    {{.Filename}}
                                {{- else -}}
                                    (no filename)
                                {{- end -}}
                            </span>
                            <span class="attachment-size">{{ .SizeString }}</span>
                        </div>
                    </a>
                {{ end }}
            </section>
        {{ end }}

        <div class="content">
            {{ if .View }}
                {{ .View }}
            {{ else }}
                <p>Can't preview this message part.</p>
            {{ end }}
        </div>
    </section>
</div>