@use "values" as values

.compose-pane
    min-height: 16em

    .upper-area
        display: grid
        grid-template-columns: 1fr 12em

    .input-grid
        display: grid
        grid-gap: 0.5em
        grid-template-columns: auto 1fr
        grid-template-rows: auto auto 1fr

    .attachment-area
        display: grid
        grid-template-areas: "title button" "list list"
        grid-template-rows: auto 1fr
        margin: 0 0.4em

        h3
            grid-area: title
            font-size: 1em
            font-weight: 600
            margin: auto 0

        button
            grid-area: button
            margin-left: auto
            font-size: 0.8em

        &.dragging-over .list
            background-color: values.$accent-color

        .attachment-list
            grid-area: list
            position: relative
            background-color: values.$selected-color
            margin-top: 0.4em
            border-radius: values.$radius

    .input-label
        display: block
        padding: 0.4em 1em
        background-color: values.$selected-color
        border-radius: values.$radius
        font-weight: 500
        font-size: 0.9em
        text-align: center

    .input-message
        height: 100%
        min-height: 2em
