@use "values" as values

.mail-display
    padding: 1em

.mail-header
    display: grid
    grid-template-areas: "top top" "from from" "to actions"

    .top
        display: flex
        grid-area: top

    h1
        grid-area: subject
        margin-top: 0
        margin-bottom: 0.2em
        font-weight: 600
        font-size: 1.4em

    .time
        text-align: right
        margin-left: auto
        font-size: 0.9em
        white-space: nowrap
        color: values.$gray-text-color

    .from
        grid-area: from
        font-size: 1.15em
        margin-bottom: 0.6em

    .to
        grid-area: to
        font-size: 0.9em

    .actions
        grid-area: actions
        margin-left: auto
        font-size: 0.85em
        color: values.$tinted-text-color
        cursor: default

        .action
            padding: 0.4em
            border-radius: values.$radius
            white-space: nowrap
            cursor: pointer

            &:hover
                background-color: values.$selected-color

            i
                margin-right: 0.4em

.mail-body
    border-top: values.$border
    margin-top: 0.8em
    padding-top: 0.8em

    .attachments
        display: flex
        flex-wrap: wrap
        margin-top: -0.4em
        margin-bottom: 0.6em

    .attachment-button
        @include values.button-shadow-bright

        display: flex
        align-items: center
        width: fit-content
        background-color: values.$button-color-dark
        padding: 0.4em 0.8em
        margin-right: 0.4em
        margin-bottom: 0.4em
        font-size: 0.9em
        border-radius: values.$radius
        color: values.$button-text-dark-color
        text-decoration: none
        cursor: pointer

        &:hover
            background-color: values.$button-color-dark-hover

    .attachment-inner
        display: flex
        flex-direction: column

        .attachment-name
            max-width: 10em
            text-overflow: ellipsis
            overflow: hidden
            font-size: 0.9em

        .attachment-size
            font-size: 0.8em
            color: values.$tinted-text-color

    .content
        overflow: auto

        &.html
            color: black
            background-color: white
            border-radius: values.$radius
            padding: 0.4em

    .content pre
        white-space: pre-wrap

    .remote-content
        display: flex
        flex-direction: column
        margin-bottom: 0.6em
        padding: 0.8em

        border-radius: values.$radius
        background-color: values.$selected-color
        font-size: 0.9em

        & > *:first-child
            margin-bottom: 0.2em

.attachments .attachment-button
    &::before
        content: '\f15b'
        font-family: "Font Awesome 6 Free"
        font-size: 1.15em
        padding-right: 0.5em

    &[data-mime$="/pdf"]::before
        content: '\f1c1'

    &[data-mime^="image/"]::before
        content: '\f1c5'

    &[data-mime^="video/"]::before
        content: '\f1c8'

    &[data-mime^="audio/"]::before
        content: '\f1c7'

    &[data-mime="text/csv"]::before,
    &[data-mime="application/vnd.ms-excel"]::before,
    &[data-mime="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]::before
        content: '\f1c3'

    &[data-mime="application/msword"]::before,
    &[data-mime="application/vnd.openxmlformats-officedocument.wordprocessingml.document"]::before,
    &[data-mime="application/rtf"]::before
        content: '\f1c2'

    &[data-mime$="/x-bzip"]::before,
    &[data-mime$="/x-bzip2"]::before,
    &[data-mime$="/vnd.rar"]::before,
    &[data-mime$="/x-tar"]::before,
    &[data-mime$="/zip"]::before,
    &[data-mime$="/x-7z-compressed"]::before
        content: '\f1c6'

    &[data-mime^="/css"]::before,
    &[data-mime^="/html"]::before,
    &[data-mime^="/javascript"]::before,
    &[data-mime^="/css"]::before,
    &[data-mime^="/x-c"]::before,
    &[data-mime^="/x-bsh"]::before,
    &[data-mime^="x-sh"]::before,
    &[data-mime^="/x-script.phyton"]::before
        content: '\f1c9'
