@use "values" as values

.mailboxes
    background-color: values.$background-color-dark

    & > *
        margin: 0.4em 0.4em

    .mailbox-entry
        padding: 0.4em 0.8em
        font-size: 0.97em
        border-radius: values.$radius
        cursor: pointer
        color: #424242

        &.active, &:hover
            background-color: values.$selected-color
            outline: 1px solid transparent

        &.action
            color: values.$link-color-dark
            font-size: 0.87em
            padding: 0.5em 0.9em

        .unread-count
            &:not(:empty)::before
                content: '('

            &:not(:empty)::after
                content: ')'

        i
            width: 1.5em

.mailbox-label
    display: block
    text-transform: uppercase
    color: values.$gray-text-color
    font-weight: 600
    font-size: 0.8em

.compose-button
    @include values.button-shadow

    width: calc(100% - 0.8em)
    box-sizing: border-box
    padding: 0.5em 0.9em
    border: 0
    border-radius: values.$radius

    font-weight: 600
    font-size: 1.1em
    background-color: values.$primary-color
    color: white
    cursor: pointer

    &:hover
        background-color: values.$primary-color-hover

.mailboxes hr
    border: 0
    outline: 0
    border-top: values.$border
    margin: 0 0.4em 0.4em 0.4em
