@use "values" as values

.mail-display
    padding: 1em

.mail-header
    display: grid
    grid-template-areas: "top top" "from from" "to actions"

    .top
        display: flex
        grid-area: top

    h1
        grid-area: subject
        margin-top: 0
        margin-bottom: 0.2em
        font-weight: 600
        font-size: 1.4em

    .time
        text-align: right
        margin-left: auto
        font-size: 0.9em
        white-space: nowrap
        color: values.$gray-text-color

    .from
        grid-area: from
        font-size: 1.15em
        margin-bottom: 0.6em

    .to
        grid-area: to
        font-size: 0.9em

    .actions
        grid-area: actions
        margin-left: auto
        font-size: 0.85em
        cursor: default

        .action
            padding: 0.4em
            border-radius: values.$radius
            cursor: pointer

            &:hover
                background-color: #E0E0E0

            i
                margin-right: 0.4em

.mail-body
    border-top: values.$border
    margin-top: 0.8em
    padding-top: 0.8em

    .content pre
        white-space: pre-wrap

    .remote-content
        display: flex
        flex-direction: column
        margin-bottom: 0.6em
        padding: 0.8em

        border-radius: values.$radius
        background-color: #EEEEEE
        font-size: 0.9em

        & > *:first-child
            margin-bottom: 0.2em
