.mailboxes > * {
  margin: 0.4em 0.4em;
}
.mailboxes .mailbox-entry {
  padding: 0.4em 0.8em;
  font-size: 1em;
  border-radius: 0.2em;
  margin-bottom: 0.1em;
  cursor: pointer;
}
.mailboxes .mailbox-entry.active, .mailboxes .mailbox-entry:hover {
  background-color: #E0E0E0;
}
.mailboxes .mailbox-entry.active a, .mailboxes .mailbox-entry:hover a {
  color: #424242;
}
.mailboxes .mailbox-entry.action {
  color: #607D8B;
}
.mailboxes .mailbox-entry a {
  color: #707070;
  text-decoration: none;
}

.mailbox-label {
  display: block;
  text-transform: uppercase;
  color: #707070;
  font-weight: 600;
  font-size: 0.8em;
}

.compose-button {
  box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9);
  -moz-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9);
  width: calc(100% - 0.8em);
  box-sizing: border-box;
  padding: 0.5em 0.9em;
  border: 0;
  border-radius: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  background-color: #546E7A;
  color: white;
  cursor: pointer;
}
.compose-button:hover {
  background-color: #558B2F;
}

.mail-list .item {
  display: grid;
  grid-template-areas: "mail-sender mail-time" "mail-subject mail-subject";
  padding: 0.65em 0.75em;
  border-bottom: 1px solid #D3D3D3;
  cursor: pointer;
}
.mail-list .item > * {
  padding: 0.15em;
}
.mail-list .item.active, .mail-list .item:hover {
  background-color: #E0E0E0;
}
.mail-list .item .sender {
  grid-area: mail-sender;
  font-size: 0.8em;
  text-overflow: ellipsis;
  color: #424242;
}
.mail-list .item .time {
  grid-area: mail-time;
  font-size: 0.8em;
  text-align: right;
  color: #424242;
}
.mail-list .item .subject {
  grid-area: mail-subject;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
}

.mail-pane {
  padding: 1em;
}

.mail-header {
  display: grid;
  grid-template-areas: "subject subject" "from from" "to time";
}
.mail-header h1 {
  grid-area: subject;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.4em;
}
.mail-header .from {
  grid-area: from;
  font-size: 1.15em;
  margin-bottom: 0.6em;
}
.mail-header .to {
  grid-area: to;
  font-size: 0.9em;
}
.mail-header .time {
  grid-area: time;
  text-align: right;
  font-size: 0.9em;
  color: #707070;
}

.mail-body {
  border-top: 1px solid #D3D3D3;
  margin-top: 0.8em;
  padding-top: 0.8em;
}
.mail-body .content pre {
  white-space: pre-wrap;
}
.mail-body .remote-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;
  padding: 0.8em;
  border-radius: 0.2em;
  background-color: #EEEEEE;
  font-size: 0.9em;
}
.mail-body .remote-content > *:first-child {
  margin-bottom: 0.2em;
}

body {
  display: grid;
  grid-template-areas: "mailboxes mail-list mail-content";
  grid-template-columns: 200px 300px minmax(0, 1fr);
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Inter;
}
body > * {
  border-right: 1px solid #D3D3D3;
}

a {
  color: #00ACC1;
}

.mailboxes {
  grid-area: mailboxes;
  overflow-y: auto;
  scrollbar-color: #757575 white;
}

.mail-list {
  grid-area: mail-list;
  overflow-y: auto;
  scrollbar-color: #757575 white;
}

.mail-pane {
  grid-area: mail-content;
  overflow-y: auto;
  scrollbar-color: #757575 white;
}

/*# sourceMappingURL=main.css.map */
