@use "components/components"
@use "mail-content"
@use "compose"
@use "settings"
@use "values" as values

@use "../fonts/fontawesome/css/solid.min"
@use "../fonts/fontawesome/css/fontawesome.min"

$header-height: 3em

h1
    font-size: 1.6em
    font-weight: 600
    margin-top: 0.6em
    margin-bottom: 0.6em

    &:first-child
        margin-top: 0

h3
    font-size: 1.2em
    font-weight: 600
    margin-top: 0.4em
    margin-bottom: 0.4em

select
    min-width: 8em
    border: 0
    border-radius: values.$radius
    padding: 0.4em
    background-color: values.$button-color

    &:hover
        background-color: values.$button-color-hover

body
    display: flex
    flex-direction: column
    scrollbar-color: #757575 white
    width: 100%
    height: 100vh
    max-height: 100%
    margin: 0
    padding: 0
    font-family: Inter, sans-serif
    background-color: values.$background-color
    color: values.$text-color

header
    display: flex
    align-items: center
    height: $header-height
    box-sizing: border-box
    border-bottom: values.$border
    background-color: values.$background-color
    padding: 0.4em 1em

    .logo
        display: flex
        align-items: center
        height: 100%
        cursor: pointer

        img
            width: auto
            height: calc(100% - 0.3em)
            margin-left: 0.2em
            margin-right: 0.5em

        h1
            margin: 0
            font-size: 1.4em

    .left
        margin-left: 0.4em

    .right
        margin-left: auto

    .email-address
        color: values.$gray-text-color
        font-size: 0.9em
        margin-right: 0.2em

    a
        color: values.$tinted-text-color
        text-decoration: none
        margin-left: 0.5em

        &:hover
            text-decoration: underline

main
    background-color: values.$background-color

main.mailbox
    height: calc(100vh - $header-height)
    grid-template-columns: 200px 300px minmax(0, 1fr)
    grid-template-rows: minmax(0, 1fr)
    box-sizing: border-box

    &.active
        display: grid

    & > *
        border-right: values.$border

main.login
    margin: auto

    h1
        margin-top: 0
        margin-bottom: 0.4em

    form
        display: flex
        flex-direction: column

        .group
            display: flex
            flex-direction: column
            gap: 0.2em
            margin-bottom: 0.6em

        button
            margin-left: auto

a
    color: values.$link-color

blockquote
    border-left: 2px solid gray
    padding-left: 0.4em
    margin-left: 0.4em

.hidden
    display: none

// Since the max-height of the attachment area
// is calculated with JavaScript to ensure it
// never expands its parent, the compose pane
// needs an actual size during initialisation.
// Since it's hidden initially, we need to make
// sure it still has a size when it's hidden.
#compose-pane.hidden
    display: block
    position: fixed
    top: 0
    transform: translate(-100%)
    left: 0

.error
    color: values.$red

.mailboxes
    overflow-y: auto
    height: 100%

.middle
    height: calc(100vh - #{$header-height})

.mail-list
    height: calc(100% - 2.72em)
    overflow-y: auto

.preview
    display: grid
    grid-template-rows: auto 1fr

    .mail-display
        overflow-y: auto

@media screen and (min-width: 1500px)
    .preview
        display: flex

    .mail-display
        flex-grow: 1

    .compose-pane
        flex-grow: 1
        max-width: 70em
        border-left: values.$border

        .minimise
            display: none
