$primary-color: #546E7A
$primary-color-hover: #558B2F
$link-color: #00ACC1
$link-color-dark: #607D8B
$selected-color: #E0E0E0
$radius: 0.2em

@mixin button-shadow
    box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)
    -webkit-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)
    -moz-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)

@mixin scrollbar
    overflow-y: auto
    scrollbar-color: #757575 white
