$primary-color: #546E7A
$primary-color-hover: #37474F
$link-color: #00ACC1
$link-color-dark: #607D8B
$button-color: #D3D3D3
$button-color-hover: #BDBDBD
$selected-color: #E0E0E0
$border: 1px solid #D3D3D3
$gray-text-color: #707070
$red: #D32F2F
$red-hover: #B71C1C
$radius: 0.2em

@mixin button-shadow
    box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)
    -webkit-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)
    -moz-box-shadow: 0px 1px 1px 0px rgba(80, 80, 80, 0.9)

@mixin button-shadow-bright
    box-shadow: 0px 1px 1px 0px rgba(40, 40, 40, 0.3)
    -webkit-box-shadow: 0px 1px 1px 0px rgba(40, 40, 40, 0.3)
    -moz-box-shadow: 0px 1px 1px 0px rgba(40, 40, 40, 0.3)
