@use "../values" as values

button
    @include values.button-shadow-bright
    padding: 0.4em 0.8em
    border: 0
    font-size: 1em
    font-family: Inter, sans-serif
    background-color: values.$button-color
    color: black
    border-radius: values.$radius
    cursor: pointer

    &:hover
        background-color: values.$button-color-hover

    &.primary
        @include values.button-shadow
        color: white
        background-color: values.$primary-color

        &:hover
            background-color: values.$primary-color-hover

    &.danger
        @include values.button-shadow-bright
        background-color: values.$red

        &:hover
            background-color: values.$red-hover
