@use "../values" as values

.pane
    display: flex
    flex-direction: column

    &.minimised
        height: auto !important
        min-height: auto !important

    &.minimised .pane-content
        display: none

    &.minimised .pane-header
        cursor: pointer

.pane-header
    display: flex
    position: relative
    padding: 0.6em 0.8em
    background-color: values.$primary-color
    border-top-left-radius: values.$radius
    border-top-right-radius: values.$radius
    color: white

    .buttons
        margin-left: auto

        & > *
            display: inline-block
            line-height: 0.5
            padding: 0.4em
            border-radius: values.$radius
            cursor: pointer

            &:hover
                background-color: values.$primary-color-hover

.pane-content
    display: flex
    flex-direction: column
    flex-grow: 1
    box-sizing: border-box
    overflow-y: auto
    padding: 0.6em

    & > *
        margin-bottom: 0.6em

        &:last-child
            margin-bottom: 0

    .buttons
        margin-left: auto

        & > *
            margin-left: 0.4em

.pane .resizer
    position: absolute
    width: 100%
    height: 0.5em
    top: -0.25em
    left: 0
    cursor: ns-resize

.pane.minimised .resizer
    cursor: hand
