@use "../values" as values

#trix-toolbar-1, #trix-toolbar-2
    margin-bottom: 0

.textarea[input^='trix-input-']
    border-top-left-radius: 0
    border-top-right-radius: 0
    overflow-y: auto

    h1, h2, h3
        margin: 0.2em 0

    &:focus
        outline: 0

// The first selector is redundant, but the auto-formatter
// gets confused without it
.trix-button-group, trix-toolbar .trix-button-group
    display: flex
    border: 0
    margin: 0

.trix-button-group--file-tools
    display: none !important

trix-toolbar .trix-button-group:not(:first-child)
    margin-left: 1em

.trix-button-group-spacer
    display: none

trix-toolbar .trix-button-row
    display: flex
    width: fit-content
    white-space: normal
    justify-content: flex-start
    background-color: values.$selected-color
    border-top-left-radius: values.$radius
    border-top-right-radius: values.$radius
    border-bottom: 0
    overflow: hidden

    button
        display: block
        width: 2.25em
        background-color: values.$selected-color
        border: 0
        border-radius: 0
        color: values.$text-color
        box-shadow: none
        font-size: 1em
        font-weight: 500
        padding: 0.4em
        border-left: 0 !important
        -webkit-box-shadow: none
        -moz-box-shadow: none

        &:first-child
            border-top-left-radius: values.$radius
            border-bottom-left-radius: values.$radius

        &:last-child
            border-top-right-radius: values.$radius
            border-bottom-right-radius: values.$radius

        &.trix-active
            background-color: values.$accent-color
